{% extends "base.html" %}
{% load staticfiles %}

{%block header%}
	{{form.media}}
{%endblock%}

{% block sidebar %}
			<ul>
				<li><a href="/provider/all">Cancel</a></li>
			</ul>
{% endblock %}

{% block container %}
	<form method="POST" action="/provider/create/">{%csrf_token%}
	{{ form.as_p }}
	<p><input type="submit" value="Submit"></input></p>
	</form>
	

{% endblock %}