<!-- this html prints the search results -->
{% extends "base.html" %}
{% load staticfiles %}

{% block container %}

{%if providers%}
	<h4>Your search results:</h4>
	{% for provider in providers %}
	<ul>
		<li> <a href='/provider/get/{{provider.id}}/'><h4>{{provider.name}}</h4></a>
		<div>
			{{provider.currency}}
		</div></li>
	</ul>
	{% endfor %}
{%else%}
	<p>NO PROVIDERS IN THAT AREA, SORRY!</p>
{%endif%}


{% endblock %}
