{% extends "base.html" %}
{% load staticfiles %}

{% block container %}


<h2>Provider List</h2>

{%if providers%}
{% for provider in providers %}
<ul>

	<li> <a href='/provider/get/{{provider.id}}/'><h4>{{provider.name}}</h4></a>
		<div>
			{{provider.currency}}
		</div>
	</li>
</ul>
{% endfor %}

{%else%}
<p>NO PROVIDERS YET</p>
{%endif%}

{% endblock %}
