
{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}
<ul>
	<li><a href="/provider/all">All Providers</a></li>
</ul>
<hr>
{% endblock %}


{% block container %}
<h4>{{ provider.name }}</h4>
<p> <b>Email</b>: {{ provider.email }} </p>
<p> <b>Phone</b>: {{ provider.phone}} </p>
<p> <b>Language</b>: {{provider.language}} </p>
<p> <b>Currency</b>: {{provider.currency}} </p>
<hr>
<p><a href="/provider/update/{{provider.id}}">Update Provider, {{provider.name}} </a></p>
<p><a href="/provider/delete/{{provider.id}}">Delete Provider, {{provider.name}}</a></p>

{% endblock %}