{% extends "base.html" %}
{% load staticfiles %}

{%block header%}
{{form.media}}
{%endblock%}

{% block sidebar %}
<ul>
	<li><a href="/provider/all">Cancel</a></li>
</ul>
{% endblock %}


{% block container %}

<form method="POST" action="/provider/update/{{provider.id}}/">{%csrf_token%}
	{{ form.as_p }}
	<p><input type="submit" value="UPDATE"></input></p>
</form>


{% endblock %}