/*body{
    background-color: white;
}*/

#page{
    text-align: left;
    /*margin: 10px 0px 20px auto;*/
    /*background-color: #0c0c0c;*/
}
#sidebar{
    float: left;
    width: 200px;
    border: 1px solid #000;
    margin-top: 30px;
}
#content{
    float: left;
    /*border: 1px solid #f00;*/
    padding: 10px 10px 10px 10px;
}
